.red{
    color: red;
    font-size: 20px;
}
.blue{
    color: blue;
    font-size: 25px;
}
.green{
    color: green;
    font-size: 30px;
}
.orange{
    color: tomato;
    font-size: 35px;
}
#brown{
    color: brown;
    font-size: 40px;
}