@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&family=Questrial&display=swap');

*, ::before, ::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.header{
    margin-top: 25px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

ul{
    list-style-type: none;
}

.menu--header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

a{
    text-decoration: none;
}

.menu--header a{
    font-family: 'Questrial', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 19px;
    text-align: center;
    color: #616161;
}

.menu--header li{
    margin-right: 70px;
}

.menu--header li:last-child{
    margin-left: 0;
}

.nav{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.li--header{
    text-decoration: none;
}

.main{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wellcome{
    width: 1440px;
    height: 500px;
    background: url(img/maxresdefault\ \(1\)\ 2\ \(1\).png) no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color: white;
}

.p--wellcome{
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    border: 3px solid #FFFFFF;
    box-sizing: border-box;
    padding: 7px 20px 3px 20px;
}